<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Login Page</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<p>This is Login Page!</p>
</ion-content>
