<ion-content align="center" padding>
    <ion-img class="Logo" align="center" src="assets/kitvision.png"></ion-img>
    <hr class="logohr">
    <h2><ion-label align="center" TextDecorations="Underline">CHAT</ion-label>
    </h2><hr class="logohr">
    </ion-content>
    