  
    <ion-tabs  color="tabs" class="tabs" selectedIndex="2" >
      <ion-tab [root]="tab1Root"text-wrap tabTitle="FILES" tabIcon="troubleshoot"></ion-tab>
      <ion-tab [root]="tab2Root" tabTitle="CHAT" tabIcon="chat"></ion-tab>
      <ion-tab [root]="tab3Root" tabTitle="SUPPORT" tabIcon="support"></ion-tab>
      <ion-tab [root]="tab4Root" tabTitle="HISTORY" tabIcon="history"></ion-tab>
      <ion-tab [root]="tab5Root" tabTitle="PROFILE" tabIcon="profile"></ion-tab>
      </ion-tabs>