.tabbar{
    background-color: white;
    height: 75px;
    width: 100%;
   
    border-top: 0.5px solid black;
}
.tabbar.wrap, .tabbar.wrap {
  white-space: normal;
  }

.tabbar, .tabs-ios, .tabs-md , .tabs-wp{
    .tab-button-icon {
        background-repeat:no-repeat;
        background-position:center;
        height:28px;
        width:38px;
        background-size:contain;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        &:before {
            display:none;
        }
    }
}

.tabs-ios {
  a[aria-selected=false]{
     .tab-button-icon[ng-reflect-name=troubleshoot], .tab-button-icon[aria-label="troubleshoot"] {
      background-image: url(../assets/imgs/trouble.png);
    }
    .tab-button-icon[ng-reflect-name=chat], .tab-button-icon[aria-label=chat] {
      background-image: url(../assets/imgs/chat.png);
    }
    .tab-button-icon[ng-reflect-name=support], .tab-button-icon[aria-label=support] {
      background-image: url(../assets/imgs/support.png);
    }
    .tab-button-icon[ng-reflect-name=history], .tab-button-icon[aria-label=history] {
      background-image: url(../assets/imgs/history.png);
    }
    .tab-button-icon[ng-reflect-name=profile], .tab-button-icon[aria-label=profile] {
      background-image: url(../assets/imgs/profile.png);
    }
  }
 a[aria-selected=true] {
   //führ eventuellen text
   //span {
      //color: #f00; //whatever colour you want to use for the text
    //}
    .tab-button-icon[ng-reflect-name=troubleshoot], .tab-button-icon[aria-label=troubleshoot] {
      background-image: url(../assets/imgs/trouble1.png);
    }
    .tab-button-icon[ng-reflect-name=chat], .tab-button-icon[aria-label=chat] {
      background-image: url(../assets/imgs/chat1.png);
    }
    .tab-button-icon[ng-reflect-name=support], .tab-button-icon[aria-label=support] {
      background-image: url(../assets/imgs/support1.png);
    }
    .tab-button-icon[ng-reflect-name=history], .tab-button-icon[aria-label=history] {
      background-image: url(../assets/imgs/history1.png);
    }
    .tab-button-icon[ng-reflect-name=profile], .tab-button-icon[aria-label=profile] {
      background-image: url(../assets/imgs/profile1.png);
    }
  }
}

.tabs-md {
  a[aria-selected=false]{
     .tab-button-icon[ng-reflect-name=troubleshoot], .tab-button-icon[aria-label="troubleshoot"] {
      background-image: url(../assets/imgs/trouble.png);
    }
    .tab-button-icon[ng-reflect-name=chat], .tab-button-icon[aria-label=chat] {
      background-image: url(../assets/imgs/chat.png);
    }
    .tab-button-icon[ng-reflect-name=support], .tab-button-icon[aria-label=support] {
      background-image: url(../assets/imgs/support.png);
    }
    .tab-button-icon[ng-reflect-name=history], .tab-button-icon[aria-label=history] {
      background-image: url(../assets/imgs/history.png);
    }
    .tab-button-icon[ng-reflect-name=profile], .tab-button-icon[aria-label=profile] {
      background-image: url(../assets/imgs/profile.png);
    }
  }

 a[aria-selected=true] {
   //führ eventuellen text
   //span {
      //color: #f00; //whatever colour you want to use for the text
    //}
    .tab-button-icon[ng-reflect-name=troubleshoot], .tab-button-icon[aria-label=troubleshoot] {
      background-image: url(../assets/imgs/trouble1.png);
    }
    .tab-button-icon[ng-reflect-name=chat], .tab-button-icon[aria-label=chat] {
      background-image: url(../assets/imgs/chat1.png);
    }
    .tab-button-icon[ng-reflect-name=support], .tab-button-icon[aria-label=support] {
      background-image: url(../assets/imgs/support1.png);
    }
    .tab-button-icon[ng-reflect-name=history], .tab-button-icon[aria-label=history] {
      background-image: url(../assets/imgs/history1.png);
    }
    .tab-button-icon[ng-reflect-name=profile], .tab-button-icon[aria-label=profile] {
      background-image: url(../assets/imgs/profile1.png);
    }
  }
}

.tabs-wp {
  a[aria-selected=false]{
     .tab-button-icon[ng-reflect-name=troubleshoot], .tab-button-icon[aria-label="troubleshoot"] {
      background-image: url(../assets/imgs/trouble.png);
    }
    .tab-button-icon[ng-reflect-name=chat], .tab-button-icon[aria-label=chat] {
      background-image: url(../assets/imgs/chat.png);
    }
    .tab-button-icon[ng-reflect-name=support], .tab-button-icon[aria-label=support] {
      background-image: url(../assets/imgs/support.png);
    }
    .tab-button-icon[ng-reflect-name=history], .tab-button-icon[aria-label=history] {
      background-image: url(../assets/imgs/history.png);
    }
    .tab-button-icon[ng-reflect-name=profile], .tab-button-icon[aria-label=profile] {
      background-image: url(../assets/imgs/profile.png);
    }
  }

 a[aria-selected=true] {
   //führ eventuellen text
   //span {
      //color: #f00; //whatever colour you want to use for the text
    //}
    .tab-button-icon[ng-reflect-name=troubleshoot], .tab-button-icon[aria-label=troubleshoot] {
      background-image: url(../assets/imgs/trouble1.png);
    }
    .tab-button-icon[ng-reflect-name=chat], .tab-button-icon[aria-label=chat] {
      background-image: url(../assets/imgs/chat1.png);
    }
    .tab-button-icon[ng-reflect-name=support], .tab-button-icon[aria-label=support] {
      background-image: url(../assets/imgs/support1.png);
    }
    .tab-button-icon[ng-reflect-name=history], .tab-button-icon[aria-label=history] {
      background-image: url(../assets/imgs/history1.png);
    }
    .tab-button-icon[ng-reflect-name=profile], .tab-button-icon[aria-label=profile] {
      background-image: url(../assets/imgs/profile1.png);
    }
    
  }

  
}