<!--
  Generated template for the FeedbackPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>SUPPORT</ion-title>
  </ion-navbar>

</ion-header>
<ion-content class="adjustment" align="center" padding>
  <ion-img class="Logo" align="center" src="assets/kitvision.png"></ion-img>
  <hr class="logohr">
  <h2><ion-label align="center" TextDecorations="Underline">JOB DONE</ion-label>
  </h2>
  <hr class="logohr">
  <ion-img class="job-tick" src="assets/tick.png"></ion-img>

<ion-label class="lbl-rating">RATE SERVICE</ion-label>
  <div class="rating-feedback">
    <ion-icon name="star" *ngIf="rating > 0" (click)="updRating(0)"></ion-icon>
    <ion-icon name="star" *ngIf="rating > 1" (click)="updRating(1)"></ion-icon>
    <ion-icon name="star" *ngIf="rating > 2" (click)="updRating(2)"></ion-icon>
    <ion-icon name="star" *ngIf="rating > 3" (click)="updRating(3)"></ion-icon>
    <ion-icon name="star" *ngIf="rating > 4" (click)="updRating(4)"></ion-icon>
    <ion-icon name="star-outline" *ngIf="rating < 1" (click)="updRating(1)"></ion-icon>
    <ion-icon name="star-outline" *ngIf="rating < 2" (click)="updRating(2)"></ion-icon>
    <ion-icon name="star-outline" *ngIf="rating < 3" (click)="updRating(3)"></ion-icon>
    <ion-icon name="star-outline" *ngIf="rating < 4" (click)="updRating(4)"></ion-icon>
    <ion-icon name="star-outline" *ngIf="rating < 5" (click)="updRating(5)"></ion-icon>
  </div>

  <ion-label class="lbl-comments">ADDITIONAL COMMENTS</ion-label>
  <ion-item class="feedback-wrapper">

    <ion-textarea class="feedback-desc" placeholder="Describe Your Feedback"  [(ngModel)]="feedback" maxlength="250"></ion-textarea>
  </ion-item>

  <button round class="tecBtn" (click)="saveFeedBack()" >Submit</button>

</ion-content>
