.rating-feedback {
  unicode-bidi: bidi-override;
  color: navy;
  width: 100%;
  text-align: center;
  font-size: 25px;
  line-height: 50px;
}
.job-tick{
  width: 100px;
  height: 100px;
  background: transparent;
  margin-top: 15px;
  margin-bottom: 15px;
}
.lbl-rating,.lbl-comments{
  font-size:20px;
  margin:0px;
}
.feedback-wrapper{
  margin-top: 0.5em;
  font-size: 16px;
  width: 100%;
  height: 250px;
  border-radius: 0;
  background: transparent;
  border: none !important;
}
.feedback-wrapper textarea{
  height: 100%;
}
.feedback-desc{height:90% !important;}