<ion-content align="center" padding>
        <ion-img class="Logo" align="center" src="assets/kitvision.png"></ion-img>
        <hr class="logohr">
        <h2><ion-label align="center" TextDecorations="Underline">CHAT</ion-label>
        </h2>
    <hr class="logohr">
        <ion-refresher (ionRefresh)="doRefresh($event)">
            <ion-refresher-content
                    pullingIcon="arrow-dropdown"
                    pullingText="Pull to refresh"
                    refreshingSpinner="circles"
                    refreshingText="Loading...">
            </ion-refresher-content>
        </ion-refresher>
        <div class="chat-box" *ngIf="offline==0">
            <div class="close-chat" (click)="closeChat()">
                Close Chat
                <ion-icon name="close-circle" style="color: #FA4E06;font-size:30px"></ion-icon>
            </div>

            <ion-list class="list">
                <ion-item class="item" *ngFor="let message of messages">
                    <ion-avatar item-start>
                        <img src="{{(message.user.avatar == null || message.user.avatar == '' )?'assets/avatar.png': message.user.avatar}}">
                      </ion-avatar>
                    <h2>{{message.user.name}}</h2>
                    <p class="sp0" >{{message.message}} </p>
                </ion-item>
            </ion-list>

            <div class="message_send_container">
                <textarea class="description" placeholder="" [(ngModel)]="message_data"></textarea>
                <div  class="btnSend">
                    <button (click)="sendmsg()"  class="sendBtn">SEND</button>
                </div>
            </div>
        </div>


    <div class="chat-box" *ngIf="offline==2">
        <div class="chat_heading_desc">Need Instant Help?<br/>Chat with one of our technicians?</div>
        <textarea class="description" placeholder="Type your message here..." [(ngModel)]="message_data" style="height:200px;"></textarea>

        <div  class="btnSend">
            <button (click)="sendFirstMsg()"  class="sendBtn">START CHAT</button>
        </div>
    </div>

    <div class="offline" *ngIf="offline==1">
        <br><br>
        <ion-thumbnail class="offlineChat">
            <img src="assets/offlinechat.png">
        </ion-thumbnail>
        <br><br>
        <ion-label>NO ONE IS ONLINE</ion-label>
        <ion-label>PLEASE SEND EMAIL ON</ion-label>
        <ion-label ><h3><u>md@kitvision.net</u></h3></ion-label>
    </div>
 </ion-content>
