.item { border-style: none }
.list{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    margin-bottom: -0.4em;
    max-height: 300px;
    overflow-y: scroll;
}
.Logo{
width: 166px;
height: 42px;
background: transparent;
margin-left: auto;
margin-right: auto;
};
.sendBtn{
    //margin-top:  -1.5em;
background-color: #FC4F00;
border: none;
//border: none;
color: white;
padding: 7px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 2px 2px;
cursor: pointer;
//width: calc(100% - 60%);
//width: 136px;
height: 28px;
border-radius: 24px;
};
.btnSend{
    padding-left: 152px;
}

.chat_heading_desc {
    text-align: left;
    padding-left: 20px;
    margin: 15px 0;
    font-size:18px;
    font-family: nexa_bold;
    font-weight: bold;
}

.close-chat {
  text-align: right;
}

#description{
    margin-top:  0.5em;
    margin-bottom: 0.5em;
    width: auto;
    height: auto;
    font-size: 18px;
    overflow-wrap: break-word;
};

.description{
    margin-top:  0.5em;
    margin-bottom: 0.0em;
    width: calc(100% - 40px);
    border: 1px solid black;
    height: 90px;
    border-radius: 0;
    padding:20px;
    background: transparent;

}
.message_send_container {
    position: absolute;
    width: 90%;
    bottom: 10px;
    background-color: #ffffff;
}
.chat_list_section{
    height: 60%;
}
.overlap{
    overflow-wrap: break-word;
    margin-top:  1.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    border: none;
    };


/*

.list p{
    line-height: 1.2em; /* Sets line height to 1.5 times text size */
  //  height: 2.3em; /* Sets the div height to 2x line-height (3 times text size) */
 //   width: 100%; /* Use whatever width you want */
 //   white-space: normal; /* Wrap lines of text */
 //   overflow: hidden; /* Hide text that goes beyond the boundaries of the div */
 //   text-overflow: ellipsis; /* Ellipses (cross-browser) */
//    -o-text-overflow: ellipsis; 
//};


//*/
.sp0{
    line-height: 1.2em; /* Sets line height to 1.5 times text size */
    height: 2.2em; /* Sets the div height to 2x line-height (3 times text size) */
    width: 100%; /* Use whatever width you want */
    white-space: normal; /* Wrap lines of text */
    overflow: hidden; /* Hide text that goes beyond the boundaries of the div */
    text-overflow: ellipsis; /* Ellipses (cross-browser) */
    -o-text-overflow: ellipsis;
}


.sp{
    line-height: 1.2em; /* Sets line height to 1.5 times text size */
    height: 4.3em; /* Sets the div height to 2x line-height (3 times text size) */
    width: 100%; /* Use whatever width you want */
    white-space: normal; /* Wrap lines of text */
    overflow: hidden; /* Hide text that goes beyond the boundaries of the div */
    text-overflow: ellipsis; /* Ellipses (cross-browser) */
    -o-text-overflow: ellipsis;
}

.list h2{
    padding-top: 2px;
    font-size: 16px;
    font-weight: bold;
    color:#FA4E06 ;
}

.offlineChat{
    width: 180px;
    height: 180px;
    background: transparent;
    margin-left: auto;
    margin-right: auto;
}
.toast-md .toast-message {
    background: #FC4F00 !important;
    font-family: "nexa_bold", "Helvetica Neue", sans-serif;
    text-align: center;
    text-transform: capitalize;
}

.item.item-block.item-md:last-child{border:none !important;}