.input{
   // width: 100%;

    width: 300px;
    //width: calc(auto - 30%);
    height: 56px;
    //padding: 2px 20px;
   padding-right: 16px;
    margin: 8px 0;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    border: 0.5px solid black;
    border-radius: 4px;
    font-size: 22px;
    text-align: center;
};
::-webkit-input-placeholder {
    text-align: center;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
 }

.buttonLogin {
    
    background-color: #FC4F00;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    width: 300px;
    height: 44px;
    border-radius: 6px;
};

.forgetPassword{
    text-decoration: underline;
    font-size: 20px;
};
