<ion-content align="center" hide-tabs>

<br><br><br><br><br><br><br><br><br>
    <ion-img  align="center" class="Logo" src="assets/kitvision.png"></ion-img>
    <br><br><br><br>
  <p>{{ alerts }} </p>
      <ion-input class="input" placeholder="UserName" [(ngModel)]="credential.username"></ion-input>
   
      <ion-input type="password" placeholder="Password" [(ngModel)]="credential.password"></ion-input>
    
  <br/>
  <button  round class="buttonLogin" align="center" (click) = "verifyLogin()">LOGIN</button>
  <br/>
    <a (click)="reset()">
        <u><ion-label class="forgetPassword">Forget Your Password!</ion-label></u>
    </a>
</ion-content>
  