<ion-content align="center" padding="20px">
    <ion-img class="Logo" align="center" src="assets/kitvision.png"></ion-img>
    <hr class="logohr">
    <h2><ion-label align="center" TextDecorations="Underline">GET INSTANT HELP</ion-label>
    </h2><hr class="logohr">
    <ion-img class="imgFwd"  style="float: center;" src="assets/fd.png"></ion-img>
    
    <ion-item style="border: 0.5px solid black; padding-left:3px;" class="multiPicker">
        <ion-label style="padding-left: 10px;">Choose Screen</ion-label>
        <ion-select [(ngModel)]="ticket.screen_id" placeholder="Choose Your Screen" class="select-screen" >
          <ion-option *ngFor="let screen of screens" value="{{ screen.screenID }}">{{ screen.screen_name }}</ion-option>
        </ion-select>
    </ion-item>
    <ion-item class="problem-wrapper">
        <ion-textarea class="problem-desc" placeholder="Describe Your Problem (Max 120 words)"  [(ngModel)]="ticket.prob_desc" maxlength="120"></ion-textarea>
    </ion-item>
  
    
    <button round class="tecBtn" (click)="addUserTicket()" >REQUEST A TECHNICIAN</button>
</ion-content>
