.tecBtn{

    background-color: #FC4F00;
    border: transparent;
    //border: none;
    color: white;
    padding: 13px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    width: 280px;
    height: 44px;
    border-radius: 6px;
};
.imgFwd{
    display: block;
    margin-top:  1.9em;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 100px;
    background-color: transparent;

    //padding-bottom: 40px;
};
.problem-desc{
    margin-top:  0.5em;
    font-size: 16px;
    width: 100%;
    height: 250px;
    border-radius: 0;
    background: transparent;
    border: none !important;
}
.problem-desc textarea.text-input{height: 100%;}
.problem-wrapper{ border: 1px solid black !important;margin-top: 0.5em;margin-bottom: 0.5em;}
.problem-wrapper .item-inner{border-bottom-color: transparent !important; box-shadow: none !important;-webkit-box-shadow: none !important;}
.select-screen{max-width: 100% !important; width: 100% !important;}
.multiPicker{  
    width: 100%;
    margin-top:  -0.5em;
    border: 0.5px solid black;
}
.item.item-block.item-md{border: none;}
.toast-md .toast-message {
    background: #FC4F00 !important;
    font-family: "nexa_bold", "Helvetica Neue", sans-serif;
    text-align: center;
    text-transform: capitalize;
}