<!--
  Generated template for the SupportTrackerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>SUPPORT</ion-title>
  </ion-navbar>

</ion-header>
<ion-content align="center" padding>
    <ion-img class="Logo" align="center" src="assets/kitvision.png"></ion-img>
    <hr class="logohr">
    <h2><ion-label align="center" TextDecorations="Underline">WORK IN PROGRESS</ion-label>
    </h2><hr class="logohr">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="Pull to refresh"
                refreshingSpinner="circles"
                refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>

    <ion-img class="tracker" src="assets/progress.png"></ion-img>
    <h3>TIME SINCE ARRIVAL</h3>
    <h3><b>{{time}}</b> Min</h3>

</ion-content>
