.shadow{
   // border: 0.5px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px #D0D0D0;
    border-radius: 8px;
};
.linehr{
    display: block;
    margin-top: - 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0.5px;
    border: 0.5px solid black; 
    //style="border:0.5px solid black">
    color: black;
};
.shadowDiv{
     border: 0.5px plan;
     padding: 10px;
     box-shadow: 2px 2px 8px 6px #D0D0D0;
     border-radius: 8px;
     box-shadow: 2px 2px 10px 3px grey;
 };
 /*
 .rating {
    unicode-bidi: bidi-override;
    color: navy;
    margin-right: 0px;
    float: left;
    width: 77%;
   

  }
  */
  .rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
    font-size: 30px;
    left: 32px;
    direction: ltr;
    float: right;
}
/*  .rating > span:hover:before,
  .rating > span:hover ~ span:before {
     content: "\2605";
     position: absolute;
  } */
  span.line {
    border: 1px solid rgb(200, 200, 200);
    background: rgb(244, 244, 244);
    font-size: 100px;
}
.alignleft {
	float: left;
}
.alignright {
	float: right;
}

.d{
    padding: 10px;
    box-shadow: 5px 10px 8px #D0D0D0;
    border-radius: 8px;
};

.cardContainer{
    width: auto;
    height: auto;
  //  padding: 10px;
    /*box-shadow: 0px 2px 8px 2px #D0D0D0;*/
    border-radius: 0px;
    border-bottom: 1px solid #000;
    margin: 15px 0 15px 0;
}
.cardheader{
    width: auto;
    height: 235px;
}

.cardlabel {
    width: auto;
    height: 20px;
    /*border-bottom: 2px solid #000000;*/
    /*margin-bottom: 10px;*/
}


.cardlabel2{
    width: auto;
    height: 90px;
}

.ticket{
    float: left;
    width: auto;
    height: 16px;
    color: gray;
    margin-left: 0.5em;
    margin-bottom: 0.1em;
    margin: 0;
}
.date{
    float: right;
    width: auto;
    height: 16px;
    color: gray;
    margin: 0;
}
.labelfirst{
    
    float: left;
    width: auto;
    height: 16px;
    color: gray;
    margin-left: 0.5em;
    margin-bottom: 0.1em;
    margin-top: -2.5px;
    text-transform: capitalize;
}
.labelName{
    
    float: right;
    width: auto;
    height: 16px;
    color: gray;
}
.status{
    float: right;
    width: auto;
    height: 16px;
    color: gray;
    //margin-right: 5em;
    margin-top: -2.5px;
    text-transform: capitalize;
}
.personDetails{
    width: auto;
    margin-top: 0.1em;
    height: 45px;
}

.cardlabel2P1{
    width: auto;
    height: 29px;
}
.cardlabel2P2{
    width: auto;
    height: 60px;
    //margin-bottom: 0.2em;
    margin-top: 0.1em;
    margin-bottom: 10px;
}
.cardlabel2P2 label{
    width: auto;
    float: left;
}
.ratingline{

}/////////////
/*
.ratingLabel {
    float: left;
    width: 20%;
    height: 16px;
    margin-top: 0px;
    margin-left: 0px;
}
.ratingLabel{
    float: left;
    width: 20%;
    margin-top: 9px;
    margin-left: 0px;
    height: 20px;

}
*/
.rating {
    unicode-bidi: bidi-override;
    color: navy;
    /*margin-right: 0px;
    float: left;
    width: 77%;*/
    text-align: right;
    /*font-size: 25px;
    line-height: 50px;*/
    //background: red;
}
.ratingLabel {
    float: left;
    width: 20%;
    //margin-top: 9px;
    margin-left: 0px;
    height: 20px;
}
//////////////////////
.hrLine{
    border: 0.5px solid black;
}



.profileImage{
    float: left;    
    width: 60px;
    height: 60px;  
    align-self: left;
    background: transparent;
    margin-left: 0.5em;
    border-radius: 50%;  
    border: solid 0.5px black;
    overflow: hidden;
}
.profileImage img{}
.profiletexts{
    float: left;
    line-height: 1.2em;
    width: 70%;
    text-align: left;
    text-transform: capitalize;
    height: 18px;
    margin-left: 0.5em;
    margin-top: 0.4em;
  margin-bottom: -0.2em;
}
.cardContent{
    width: auto;
    height: auto;
    margin-top: 1.4em;
}

.message{

    width: 100%;
    height: 16px;
    color: gray;
    font-weight: bold;
    text-align: left;
    margin-top: -1em;
}
.messagedetails{
    width: 100%;
    margin-top: 0.8em;
    text-align: justify;
}





/*

.shadow{
   // border: 0.5px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px #D0D0D0;
    border-radius: 8px;
};
.linehr{
    display: block;
    margin-top: - 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0.5px;
    border: 0.5px light black; 
    //style="border:0.5px solid black">
    color: black;
};
.shadowDiv{
     border: 0.5px plan;
     padding: 10px;
     box-shadow: 5px 10px 8px #D0D0D0;
     border-radius: 8px;
 };
 .rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    color: navy;
    margin-right: 90px;
   

  }
  .rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
    margin-bottom: 1em;
    margin-top: 10px; 
  }
  .rating > span:hover:before,
  .rating > span:hover ~ span:before {
     content: "\2605";
     position: absolute;
  } 
  span.line {
    border: 1px solid rgb(200, 200, 200);
    background: rgb(244, 244, 244);
    font-size: 100px;
}
.alignleft {
	float: left;
}
.alignright {
	float: right;
}

.d{
    padding: 10px;
    box-shadow: 5px 10px 8px #D0D0D0;
    border-radius: 8px;
};

.cardContainer{
    width: auto;
    height: 300px;
    background-color: chartreuse;
}
.cardheader{
    width: auto;
    height: 200px;
    color: olive;
}

.cardlabel{
    width: auto;
    height: 34px;
    background-color: gray;
}


.cardlabel2{
    width: auto;
    height: 90px;
    background-color: gray;
}
.labelfirst{
    
    float: left;
    width: auto;
    height: 16px;
    color: gray;
    margin-left: 0.5em;
    margin-bottom: 0.1em;
    background-color: firebrick;
}
.labelName{
    
    float: right;
    width: auto;
    height: 16px;
    color: gray;
    background-color: firebrick;
}
.status{
    float: right;
    width: auto;
    height: 16px;
    color: gray;
    background-color: firebrick;
    margin-right: 5em;
}
.personDetails{
    width: auto;
    margin-top: 0.1em;
    height: 45px;
    background-color: green;
}
.ratingLabel{
    float: left;
    width: auto;
    height: 16px;
    background-color: firebrick;
    margin-top: 0.9em;

    margin-left: 50px;

}
.cardlabel2P1{
    width: auto;
    height: 29px;
    background-color:gold;
}
.cardlabel2P2{
    width: auto;
    height: 60px;
    background-color:hotpink;
    //margin-bottom: 0.2em;
    margin-top: 0.1em;
}
.cardlabel2P2 label{
    width: auto;
    float: left;
}

.profileImage{
    float: left;
    width: 20%;
    height: 60px;  
    align-self: left;
    background: transparent;
    margin-left: 0.5em;
    border-radius: 50%;  
    border: solid black;
}
.profiletexts{
    float: left;
    line-height: 1.4em;
    width: auto;
    height: 16px;
    margin-left: 0.5em;
    background-color: tomato;
    margin-top: 0.4em;
  margin-bottom: -0.2em;
}
.cardContent{
    width: auto;
    height: 86px;
    margin-top: 0.2em;
    background-color: turquoise;
}

.message{
    float: left;
    width: auto;
    height: 16px;
    color: gray;
    font-weight: bold;
    
    background-color: yellowgreen
}
.messagedetails{
    width: auto;
    float: left;
    margin-top: 0.2em;
    text-align: justify;
    background-color: sienna;
}


*/