<ion-content align="center" padding>
        <ion-img class="Logo" align="center" src="assets/kitvision.png"></ion-img>
        <hr class="logohr">
        <h2><ion-label align="center" TextDecorations="Underline">TICKETS HISTORY</ion-label>
        </h2><hr class="logohr">

        <ion-refresher (ionRefresh)="doRefresh($event)">
            <ion-refresher-content
                    pullingIcon="arrow-dropdown"
                    pullingText="Pull to refresh"
                    refreshingSpinner="circles"
                    refreshingText="Refreshing...">
            </ion-refresher-content>
        </ion-refresher>

       <div class="cardContainer" *ngFor="let ticket of history" (click)="ticketclick(ticket.ticket_id,ticket.approved,ticket.assign_to,ticket.feedback)">
                       <!--<div class="cardlabel2">-->
                       <div class="cardlabel2P2">
                           <ion-thumbnail class="profileImage">
                               <img src="{{ticket.avatar == null ?'assets/avatar.png':ticket.avatar}}" >
                           </ion-thumbnail>
                           <ion-label class="profiletexts" >{{ ticket.assigned_user == null ?"Not Assigned":ticket.assigned_user }} - {{ticket.phone == null ?"No Number":ticket.phone}}</ion-label>
                           <ion-label class="profiletexts">{{ ticket.created_at | date: 'dd-M-yyyy'}}</ion-label>
                       </div>
                       <!--</div>-->
                       <div class="cardlabel">
                             <ion-label class="ticket"><font color="red"><strong>ID# {{ ticket.ticket_id }}</strong></font></ion-label>
                           <ion-label class="date"  ion-text [style.color]="ticket.color"><strong>{{ticket.status}}</strong></ion-label>
                        </div>
                       <div class="cardlabel" *ngIf="ticket.remote_area==1">
                           <ion-label class="ticket">Schedule Date</ion-label>
                           <ion-label class="date">{{ticket.schedule_date}}</ion-label>
                       </div>
                       <div class="cardlabel">
                           <ion-label class="ticket">{{ ticket.screen_name }}</ion-label>
                           <ion-label class="date">
                               <div class="rating">
                                   <ion-icon name="star" *ngIf="ticket.rating > 0"></ion-icon>
                                   <ion-icon name="star" *ngIf="ticket.rating > 1"></ion-icon>
                                   <ion-icon name="star" *ngIf="ticket.rating > 2"></ion-icon>
                                   <ion-icon name="star" *ngIf="ticket.rating > 3"></ion-icon>
                                   <ion-icon name="star" *ngIf="ticket.rating > 4"></ion-icon>
                                   <ion-icon name="star-outline" *ngIf="ticket.rating < 1"></ion-icon>
                                   <ion-icon name="star-outline" *ngIf="ticket.rating < 2"></ion-icon>
                                   <ion-icon name="star-outline" *ngIf="ticket.rating < 3"></ion-icon>
                                   <ion-icon name="star-outline" *ngIf="ticket.rating < 4"></ion-icon>
                                   <ion-icon name="star-outline" *ngIf="ticket.rating < 5"></ion-icon>
                               </div>
                           </ion-label>
                       </div>
                        <!--<hr class="hrLine">-->

                            <!--<hr class="ratingline">-->
                        <!--<div class="personDetails">
                            <ion-label class="ratingLabel" >Rating</ion-label>
                            <div class="rating">
                                <ion-icon name="star" *ngIf="ticket.rating > 0"></ion-icon>
                                <ion-icon name="star" *ngIf="ticket.rating > 1"></ion-icon>
                                <ion-icon name="star" *ngIf="ticket.rating > 2"></ion-icon>
                                <ion-icon name="star" *ngIf="ticket.rating > 3"></ion-icon>
                                <ion-icon name="star" *ngIf="ticket.rating > 4"></ion-icon>
                                <ion-icon name="star-outline" *ngIf="ticket.rating < 1"></ion-icon>
                                <ion-icon name="star-outline" *ngIf="ticket.rating < 2"></ion-icon>
                                <ion-icon name="star-outline" *ngIf="ticket.rating < 3"></ion-icon>
                                <ion-icon name="star-outline" *ngIf="ticket.rating < 4"></ion-icon>
                                <ion-icon name="star-outline" *ngIf="ticket.rating < 5"></ion-icon>


                            </div>
                            </div>-->
                             <!--<hr class="ratingline">-->
                       
                    <div class="cardContent">
                        <div class="message">
                          <p>Main Message</p>
                        </div>
                        <div class="messagedetails">
                          <p>{{ ticket.problem_desc }}
                          </p>
                        </div>
                    </div>
       </div>

              

</ion-content>