// http://ionicframework.com/docs/theming/

$font-family-md-base: "nexa_light";
$font-family-ios-base: "nexa_light";
$font-family-wp-base: "nexa_light";
$font-family-md-base: "nexa_bold";
$font-family-ios-base: "nexa_bold";
$font-family-wp-base: "nexa_bold";



@font-face {
    font-family: 'nexa_light';
    src: url('../assets/fonts/nexa_light.otf') format('otf'), url('../assets/fonts/nexa_bold.woff') format('otf');
    font-weight: 200;
    //font-style: normal;
  }
  
  
  textarea,body,ion-list,ion-item,ion-label,p,label, span, h1, h3, h4, h5, h6{
    font-family: nexa_light !important;
    
}

@font-face {
    font-family: nexa_light;
    src: url('../assets/fonts/nexa_light.otf') format("otf");
    font-weight: 100;
    }
    @font-face {
       font-family: nexa_bold;
        src: url('../assets/fonts/nexa_bold.otf') format("otf");
        font-weight: 200;
        }
   
    textarea,body,ion-list,ion-item,ion-label,p,label, span, h3, h4, h5, h6,div{
        font-family: AppFont !important;
     }

    h2{
        font-family: AppFontBold !important;
        font-weight: bold;
    }
    ion-label,ion-option,ion-searchbar,ion-label,ion-input,button,ion-label,p,label,ion-option,ion-list,ion-item{
       // font-family: nexa_light !important;
       font-family: AppFont !important;
    }

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
