<ion-header>

    <ion-navbar>
      <ion-title>CHAT</ion-title>
    </ion-navbar>
  </ion-header>
<ion-content align="center" padding>
  <ion-img class="Logo" align="center" src="assets/kitvision.png"></ion-img>
  <hr class="logohr">
  <h2><ion-label align="center" TextDecorations="Underline">CHAT</ion-label>
  </h2><hr class="logohr">

  <br><br>
  <ion-img class="offlineChat"  src="assets/offlinechat.png"></ion-img>
  <br><br>
  <ion-label>NO ONE IS ONLINE</ion-label>
  <ion-label>PLEASE SEND EMAIL ON</ion-label>
  <ion-label ><h3><u>md@kitvision.net</u></h3></ion-label>
</ion-content>
