<!--
  Generated template for the ResetpasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>resetpassword</ion-title>
  </ion-navbar>

</ion-header>


<ion-content align="center" padding>

  <br><br><br><br><br><br><br><br><br>
      <ion-img  align="center" class="Logo" src="assets/kitvision.png"></ion-img>
      <br><br><br><br>
    
        <ion-input class="input" placeholder="Enter Your Email" [(ngModel)]="credential.email"></ion-input>
        <br/>
<button  round class="btnSubmit" align="center" (click) = "resetEmail()">SUBMIT</button>


</ion-content>
