<ion-header>

    <ion-navbar>
      <ion-title>SUPPORT</ion-title>
    </ion-navbar>
  
  </ion-header>
  <ion-content class="adjustment" align="center" padding>
      <ion-img class="Logo" align="center" src="assets/kitvision.png"></ion-img>
      <hr class="logohr">
      <h2><ion-label align="center" TextDecorations="Underline">GET INSTANT HELP</ion-label>
      </h2><hr class="logohr">

      <ion-refresher (ionRefresh)="doRefresh($event)">
          <ion-refresher-content
                  pullingIcon="arrow-dropdown"
                  pullingText="Pull to refresh"
                  refreshingSpinner="circles"
                  refreshingText="Refreshing...">
          </ion-refresher-content>
      </ion-refresher>

      <div class="information">Estimated time {{duration}}</div>
      <div class="mapImage" id="map" style="height: 60%"></div>
      <ion-item>

          <img item-start class="personImage" src="{{(avatar=='')?'assets/avatar.png':avatar}}"/>
          <h2>{{assigned_user}}</h2>
          <p >{{phone}}</p>
      </ion-item>
  <button class="btnCancelRequest"  (click)="cancelRequest()">CANCEL REQUEST</button>
</ion-content>


<div>

</div>
<div>

</div>
