.btnCancelRequest{

    background-color: #FC4F00;
    border: transparent;
    //border: none;
    color: white;
    padding: 13px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    width: 260px;
    height: 56px;
    border-radius: 18px;
    margin-top: 0.5em;
};
.map{
    width: 100%;
    height: 300px;  
}
.details{
    margin-top: 2.5em;
    width: 25%;
    height: 100px;
   margin-bottom: 2em;
    background: transparent;
    border: 0.5px solid black;
    border-radius: 18px;
    margin-right: 6em;
}
.adjustment{
    background: white;
}

.personImage{
    width: 60px;
    height: 56px;
    margin-top: 0em;
    background: transparent;
    display: block;
    // width="80" height="80"
};
.information{background-color: #FC4F00;text-align: center;height: 30px;line-height: 30px;color:#ffffff;padding:0px;}