//.item { 
  //  border-style: none
//border-bottom: 0.5px solid black; 
//border-top: 0.5px solid black;
//}

.list{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    //border-bottom: 0.5px solid black;
   border-bottom: 0px;
    
}

.fileDetails{
float: center;
width: 120px;
height: 30px;
padding-left: 20px;
padding-right: 40px;
margin-top: -1em;
}
.imp .label.label-md{
    font-size: 24px !important;
    
}
.list-md .item-block .item-inner{border: none;}
.item.item-block.item-md{border-bottom: 1px solid #dedede;}
.logohr{
    display: block;
    margin-top: - 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0.5px;
    border: 0.8px light black; 
    //style="border:0.5px solid black">
};

.searchbar{
margin-top: 1em;
margin-bottom: 0.4em;
};
.docImage{
    width: 60px !important;
    height: 56px !important;
    min-height: 60px !important;
    min-width: 60px !important;
    background: transparent;
    display: block;
    // width="80" height="80"
};
.downImage{
    position: absolute;
    right: 0px;
    width: 60px !important;
    height: 56px !important;
    min-height: 60px !important;
    min-width: 60px !important;
    background: transparent;
    padding-left: 26px;
    top: 15px;
    
}
.downImage img{width: 40px !important;
    height: auto !important;top:20px;}
.file-desc{width: 70%;padding-left:18px; padding-top:10px;float: left;}
